### macOS ###
*.DS_Store
.AppleDouble
.LSOverride
wip

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Nvim pluggins
nvim/.config/nvim/plugged/*
nvim/.config/nvim/ftplugin/*
nvim/.config/nvim/autoload/*

# Tags
tags

# Secrets and private stuff
zsh/.zsh_deps/private

vscode/Library/Application\ Support/Code/Backups
vscode/Library/Application\ Support/Code/Cache
vscode/Library/Application\ Support/Code/Cached*
vscode/Library/Application\ Support/Code/Cookies*
vscode/Library/Application\ Support/Code/Crashpad*
vscode/Library/Application\ Support/Code/GPUCache
vscode/Library/Application\ Support/Code/Quota*
vscode/Library/Application\ Support/Code/Service*
vscode/Library/Application\ Support/Code/machineid
vscode/Library/Application\ Support/Code/Code*
vscode/Library/Application\ Support/Code/Local*
vscode/Library/Application\ Support/Code/Network*
vscode/Library/Application\ Support/Code/Session*
vscode/Library/Application\ Support/Code/TransportSecurity
vscode/Library/Application\ Support/Code/languagepacks*
vscode/Library/Application\ Support/Code/logs*
vscode/Library/Application\ Support/Code/storage*
vscode/Library/Application\ Support/Code/User/globalStorage
vscode/Library/Application\ Support/Code/User/workspaceStorage

